/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.section-hero {
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);
}

.section-hero .hero-img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.section-hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 20%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.section-hero .container {
  position: relative;
  z-index: 3;
}

.section-hero h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--default-color);
}

.section-hero p {
  color: var(--default-color);
}

.section-hero .cta-btn {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--contrast-color);
  color: var(--contrast-color);
}

.section-hero .cta-btn:hover {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}
